<template name="layout_aside">
<div class="ui visible inverted left vertical sidebar menu">
  {{#each categoryIcons}}
  <a class="item">
    <i class="{{this.class}}"></i>
    {{this.cat}}
  </a>
  {{/each}}
  </div>

  <div class="pusher">
    <div class="ui basic segment">
      <h3 class="ui header">{{title}}</h3>
      <div class="ui segment">
      <img src="/logo/Dappserywebsize.png" alt="logo" class="ui centered">
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      {{> yield}}
      </div>
    </div>
  </div>
  </template>
