<template name="layout_header">
	<div class="ui inverted main menu">
		<div class="header item">
			<a class="launch item" href="/">{{{i18n 'dapp.app.title'}}}</a>
		</div>
		<a class="item" href="{{ pathFor 'view1' }}">
			{{{i18n 'dapp.app.buttons.view1'}}}
		</a>
		<a class="item" href="{{ pathFor 'view2' }}">
			{{{i18n 'dapp.app.buttons.view2'}}}
		</a>
		<a class="item" href="{{ pathFor 'publishers' }}">
			Publishers
		</a>
		<a class="item" href="{{ pathFor 'advertisers' }}">
			Advertisers
		</a>
		<a class="item" href="{{ pathFor 'about' }}">
			About
		</a>
		<a class="item" href="{{ pathFor 'contact' }}">
			Get in Touch
		</a>
		<div class="right menu">
		<a class="item" href="{{ pathFor 'marketPlace' }}">
			Marketplace
		</a>
		<a class="item" href=" {{ pathFor 'cart' }}">
			Cart
		</a>
		<a class="item" href="{{ pathFor 'login' }}">
			LOGIN
		</a>
		</div>
	</div>
</template>
