<template name="_headerBar2">
    
<div class="ui inverted segment">
    <div class="ui container">
      <div class="ui inverted secondary pointing menu">
        <a class="toc item">
          <i class="Sidebar icon"></i>
        </a>
        <a class="active item" href="{{ pathFor 'home3' }}">{{{i18n 'dapp.app.title'}}}</a>
        <a class="item" href="{{ pathFor 'about' }}">About</a>
        <a class="item" href="{{ pathFor 'contact' }}">Get in Touch</a>
		<a class="item" href="{{ pathFor 'publishers' }}">Publishers</a>
        <a class="item" href="{{ pathFor 'marketPlace' }}">Marketplace</a>
        <div class="right item">
          <a class="item" href=" {{ pathFor 'cart' }}">Cart</a>
          <a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>
        </div>
      </div>
    </div>
</div>
    

    
    
    
    
</template>