<template name="siteMenu">
	<div class="ui inverted vertical center aligned">
		<div class="ui large inverted menu">
			<div class="ui container">
		        {{ > menuLinks }}
				<div class="right item">
			        <a class="item" href="{{ pathFor 'cart' }}">Cart</a>
			        <a class="ui inverted button menu-button" href="{{ pathFor 'login' }}">Log in</a>
			        <a class="ui inverted button menu-button" href="{{ pathFor 'signUp' }}">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</template>
