<template name="breadcrumbCustom">
    <div class="ui breadcrumb">

        {{#with breadcrumbsContext}}
            {{#each this}}

                {{#unless  cssClasses}}
                    <i class="right angle icon divider"></i>
                    <a href="{{url}}" class="section">{{title}}</a>
                {{else}}

                <i class="right angle icon divider"></i>
                <div id="{{index}}" class="active section">{{title}}</div>
            {{/unless }}

            {{/each}}
        {{/with}}

    </div>


</template>