<template name="header">
	<div class="ui inverted vertical masthead center aligned segment" id="masthead">
    	{{> siteMenu}}
	    <div class="ui text container">
	    	<img src="/logo/Dappsery300dpi2.png" alt="logo" class="ui logo item">
			<h1 class="ui inverted header">Decentralized Self Serve Ad Marketplace.</h1>
			<h2>Imagine Google ads re-magined into a fraud deterrent &amp; the most cost effective solution on a global ledger: the Ethereum Blockchain.</h2>
			<a href="{{ pathFor 'account' }}" class="ui huge primary button">Get Started <i class="right arrow icon"></i></a>
	    </div>
	</div>
</template>