<template name="_accounts">
	<div class="ui left demo vertical inverted sidebar labeled icon menu" id="sidebar-menu">
		<a class="item" href="{{pathFor 'dashboard'}}"><i class="bar chart icon"></i>Dashboard</a>
		<a class="item" href="{{pathFor 'settings'}}"><i class="settings icon"></i>Settings</a>
		<a class="item" href="{{pathFor 'accountPublisher'}}"><i class="newspaper icon"></i>Publisher Tools</a>
		<a class="item" href="{{pathFor 'accountAdvertiser'}}"><i class="tags icon"></i>Advertiser Tools</a>
		<a class="item" href="{{pathFor 'accountCQT'}}"><i class="bug icon"></i>Click Quality Team</a>
		<a class="item" href="{{pathFor 'logout'}}"><i class="sign out icon"></i>Logout</a>
	</div>
    <div class="pusher">
	    <header>
			{{> siteMenu}}
	    </header>
		<div id="account-body">
			<div class="ui container page-container">
				<div class="ui raised segment">
					<button class="ui secondary icon button" onclick="$('#sidebar-menu').sidebar('toggle');">
						<i class="sidebar icon"></i>
					</button>
					<div id="account-page">
						{{> yield}}
					</div>
				</div>
			</div>
		</div>
		<footer>
			{{> footer}}
		</footer>
	</div>
</template>