<template name="categories">

    <div class="ui six cards">

        {{#with categories}}
            {{#each this}}

                <div class="ui  card">
                    <div class="image">
                        <img src="{{logo}}">
                    </div>
                    <div class="content">
                        <a id="{{_id}}" class="header collection crumbable">{{name}}</a>
                    </div>
                </div>

            {{/each}}
        {{/with}}

    </div>

</template>