<template name="qateam">
    <div class="pageSizesCustom ui basic segment">
        <div class="ui segment">
            <h1>Quality Assurance Team</h1>
            <p><h2>WHO ARE QUALITY ASSURANCE TEAM ?</h2>
A team of participants (YOU) incentivized by earning a percentage of the fees to cross verify &amp; check at a second level any false positives or suspicious clicks to ensure legitimacy and limit click fraud.<br/>

<h2>WHAT IS CLICK FRAUD?</h2>
Click fraud is a black-hat technique of falsely inflating the number of clicks on a pay-per-click ad. Click fraud is usually driven by one of two incentives:
            <ul>
<li>Advertisers are trying to sabotage their competitors by driving up their costs and meeting their budget caps early on in the day</li>
<li>Ad publishers are clicking on the ads displayed on their own sites to generate more revenue for themselves.</li>
</ul> <br/>
        
 <h2>WITH THE IMPLEMENTION OF :</h2>
<ul>
<li>interstitial image captcha for human verification</li>
<li>Automated algorithm filtering out invalid clicks in real time using
ip logging</li>
<li>Threshold logging (high clicks vs page loads)
cookies</li>
<li>Manual analysis /investigation by Quality assurance team</li>
            
</ul><br/>
            
<h2>DAPPSERY OFFERS PEACE OF MIND &amp; THE BEST BANG FOR YOUR BUCK.</h2><br/>

If you would like to join or want more info about the Q.A.T. and earn currency please contact Dappsery @ any of the following forums:
            </p>
        </div>
    </div>
</template>