<template name="breadcrumb">
    <div class="ui segment breadcrumb">
        {{#with breadcrumbsContext}}
            {{#each breadcrumbs}}
                <div class="divider"> <i class="right chevron icon divider"></i> </div>
                <a class="section" href="*">{{{i18n title}}}</a>
            {{/each}}
            <div class="divider"> <i class="right chevron icon divider"></i> </div>
			<div id="{{index}}" class="active section">{{{i18n last.title}}}</div>
        {{/with}}
    </div>
</template>