<template name="footer">

<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a class="active item" href="{{ pathFor 'home' }}">{{{i18n 'dapp.app.title'}}}</a>
            <a class="item" href="{{ pathFor 'about' }}">About</a>
            <a class="item" href="{{ pathFor 'contact' }}">Get in Touch</a>
		  <a class="item" href="{{ pathFor 'publishers' }}">Publishers</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a class="item" href="{{ pathFor 'marketPlace' }}">Marketplace</a>
          <a class="item" href=" {{ pathFor 'cart' }}">Cart</a>
          <a class="item" href="{{ pathFor 'login' }}">Log in</a>
          <a class="item" href="{{ pathFor 'register' }}">Sign Up</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
          <p><img src="/logo/Dappsery300dpi2.png" alt="logo" class="ui centered logo item"></p>
        </div>
      </div>
    </div>
  </div>

</template>
