<template name="_markets">
    
    <div class="ui visible inverted left vertical thin sidebar overlay menu">
  {{#each categoryIcons}}
  <a class="item">
    <i class="{{this.class}}"></i>
    {{this.cat}}
  </a>
  {{/each}}
  </div>
    
  <div class="pusher">
  
    <header>
      {{> _headerBar2}}
    </header>
      
      
      
      <div class="ui vertical stripe segment">
          <div class="ui middle aligned stackable grid container">
      
      
            </div>
        </div>
      
      <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
     
            </div>
      </div>
      
      
      
      

      
      {{> footer2}}
    
    </div>
      
</template>