<template name="services">
    <div class="pageSizesCustom ui basic segment">
        <div class="ui segment">
            <h1>Services</h1>
            <p>About the publishers, QA Team, and Advertisers...</p>
            <p>Lorem ipsum dolar star. How I wonder what you are. Lorem ipsum bugger off.
                Dummy test is just enough. Lorem ipsum dolar star. How I wonder what you are.
                Lorem ipsum bugger off. Dummy test is just enough. Lorem ipsum bugger off.
                Dummy test is just enough.Lorem ipsum bugger off. Dummy test is just enough.
                Lorem ipsum bugger off. Dummy test is just enough. Lorem ipsum bugger off.
            </p>
            <p>
                Dummy test is just enough.Lorem ipsum bugger off. Dummy test is just enough.
                Lorem ipsum bugger off. Dummy test is just enough. Lorem ipsum bugger off.
                Dummy test is just enough.Lorem ipsum bugger off. Dummy test is just enough.
            </p>
        </div>
    </div>
</template>
