<template name="about">
  <div class="pageSizesCustom ui basic segment">
    <div class="ui segment">
      <h1>What is Dappsery?</h1>
      <p>Lorem ipsum dolar star. How I wonder what you are. Lorem ipsum bugger off.
        Dummy test is just enough. Lorem ipsum dolar star. How I wonder what you are.
        Lorem ipsum bugger off. Dummy test is just enough. Lorem ipsum bugger off.
        Dummy test is just enough.Lorem ipsum bugger off. Dummy test is just enough.
        Lorem ipsum bugger off. Dummy test is just enough. Lorem ipsum bugger off.
      </p>
      <p>
        Dummy test is just enough.Lorem ipsum bugger off. Dummy test is just enough.
        Lorem ipsum bugger off. Dummy test is just enough. Lorem ipsum bugger off.
        Dummy test is just enough.Lorem ipsum bugger off. Dummy test is just enough.
      </p>
    </div>
  </div>
</template>
