<template name="about">
  <div class="pageSizesCustom ui basic segment">
    <div class="ui segment">
      <h1>What is Dappsery?</h1>
      <p>Dappsery is one of the first Decentralized Applications to utilize smart contract on the Ethereum blockchain to create a Marketplace for self serve advertisement, consisting of advertisers, publishers and a quality assurance team.<br/>

The Dappsery Dapp is also managed under a Decentralized Autonomous Organization called SUPERDAO DAO. Dappsery is the first Dapp under the SUPERDAO pardiagm structure.

      </p>
      <p>
        SUPERDAO Itself is a DAO factory to facilitate and support the creation of other DAOs... think parent company and line of products and services.<br/>

Membership and payouts are managed by  " " . A token distributed by SUPERDAO DAO.<br/>


For more info:
      </p>
    </div>
  </div>
</template>
