<template name="_markets">

    <div class="ui inverted left vertical thin sidebar menu">
        <a class="item" href="/{{currentPath}}/0" id="0"><i class="all"></i>{{i18n 'dapp.app.allCategories'}}</a>
        {{#each categoryIcons}}
            <a class="item" href="/{{currentPath}}/{{_id}}" id="{{_id}}"><i class="{{this.class}}"></i> {{this.name}}</a>
        {{/each}}
    </div>


    <div class="pusher">
        <header>
            {{> siteMenu}}
        </header>
        <div class="ui segment">
            <div class="ui icon button" onclick="$('.ui.sidebar').sidebar('toggle')"
                 data-content="{{i18n show.categories}}">
                <i class="sidebar icon"></i>
            </div>

            {{> breadcrumbCustom}}
        </div>
        {{> yield}}
        <footer>
            {{> footer}}
        </footer>
    </div>
</template>