<template name="account">
	<div class="ui segment" id="account-page-content">
		<div class="ui cards centered">
			<div class="card">
				<div class="content">
					<div class="header">Advertiser</div>
					<div class="description">
						Advertise on Dappsery. Lorem ipsum dolar star, how I wonder what you are.
					</div>
				</div>
				<div class="ui bottom attached secondary disabled button">Coming Soon!</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="header">Publisher</div>
					<div class="description">
						Make money by publishing ads on your website. Lorem ipsum bugger off! Dummy text is just enough.
					</div>
				</div>
				<div class="ui bottom attached olive button" onclick="document.location.pathname = '{{pathFor 'register'}}';">Create Your Account</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="header">Quality Assurance Team</div>
					<div class="description">
						Get paid to help us make sure ad clicks are from real people, and
						the ads on Dappsery are legal.
					</div>
				</div>
				<div class="ui bottom attached secondary disabled button">Coming Soon!</div>
			</div>
		</div>
	</div>
</template>
