<template name="login">
	<div class="ui container page-container">
		<div class="ui segment">
			<h1>Sign In</h1>
			<div class="ui segment">
				<div id="loginErrorBox" class="ui negative message hidden">
					<div class="header">An error has occurred.</div>
					<p id="loginError"></p>
				</div>
				<form class="ui form">
					<div class="field">
						<label for="login-username">Username</label>
						<input type="text" id="login-username" name="login-username" placeholder="HappyHarryAteAHippo">
					</div>
					<button class="ui secondary button" id="submit-login">Proceed</button>
				</form>
				<p>
					<br><a href="{{pathFor 'signUp'}}">Need an account?</a>
				</p>
			</div>
		</div>
	</div>
</template>