<template name="loginPassword">
    <div class="ui container page-container">
        <div class="ui segment">
            <h1>Sign In</h1>
            <div class="ui segment">
                <form class="ui form">
                    <div class="ui fluid selection dropdown">
                        <input type="hidden" name="user">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Your Account</div>
                        <div class="menu">
                            <div class="item" data-value="jenny">
                                <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">
                                Jenny Hess
                            </div>
                            <div class="item" data-value="elliot">
                                <img class="ui mini avatar image" src="/images/avatar/small/elliot.jpg">
                                Elliot Fu
                            </div>
                            <div class="item" data-value="stevie">
                                <img class="ui mini avatar image" src="/images/avatar/small/stevie.jpg">
                                Stevie Feliciano
                            </div>
                            <div class="item" data-value="christian">
                                <img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">
                                Christian
                            </div>
                            <div class="item" data-value="matt">
                                <img class="ui mini avatar image" src="/images/avatar/small/matt.jpg">
                                Matt
                            </div>
                            <div class="item" data-value="justen">
                                <img class="ui mini avatar image" src="/images/avatar/small/justen.jpg">
                                Justen Kitsune
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password">
                    </div>
                    <button class="ui secondary button" id="submit-password">Log In</button>
                </form>
            </div>
        </div>
    </div>
</template>