<template name="signUp">
	<div class="ui container page-container">
		<div class="ui segment">
			<h1>Create an Account</h1>
			<div class="ui segment" id="registrationForm">
				<div id="signUpErrorBox" class="ui negative message hidden">
					<div class="header">An error has occurred.</div>
					<p id="signUpError"></p>
				</div>
				<form class="ui form">
					<div class="field">
						<label for="create-username">Username</label>
						<input type="text" id="create-username" name="create-username" placeholder="HappyHarryAteAHippo">
					</div>
					<div class="field">
						<label for="create-password">Password</label>
						<input type="password" id="create-password" name="create-password">
					</div>
					<div class="field">
						<label for="create-password2">Repeat Your Password</label>
						<input type="password" id="create-password2" name="create-password2">
					</div>
					<strong>Select A Default Account Type</strong>
					<div class="ui labeled icon menu">
						<a class="item active"><i class="newspaper icon"></i>Publisher</a>
						<a class="item disabled disabled-type"><i class="tags icon"></i>Advertiser</a>
						<a class="item disabled disabled-type"><i class="bug icon"></i>Quality Assurance Team</a>
					</div>
					<button class="ui secondary button" id="create-submit">Create Your Account</button>
				</form>
				<p>
					<br><a href="{{pathFor 'login'}}">Have an account?</a>
				</p>
			</div>
		</div>
	</div>
</template>