<template name="adsList">

    <div class="ui four cards">

        {{#with ads}}
            {{#each this}}

                <div class="ui card">
                    <div class="image">
                        <img src="{{logo}}">
                        <span class="ui violet tiny right ribbon label">visitors:{{visitors}}</span>
                        <span class="ui purple tiny left ribbon label">impressions:{{impressions}}</span>
                    </div>

                    <div class="content">
                        <a id="{{_id}}" class="header collection small crumbable">{{publisherName}}</a>
                    </div>
                    <div class="extra content">
                        <div class="ui small star rating" id="rating_{{_id}}" data-max-rating="5" data-rating="{{rating}}"></div>
                    </div>
                </div>

            {{/each}}

        {{/with}}

    </div>
</template>